* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #333;
    color: #FFF;

    h1 {
        color: aqua;
    }
}